name: GitSafe
version: "0.1.0"
slug: gitsafe
description: "Automated Git repository backup and synchronization tool with scheduled syncing, credential management, and web UI"
url: "https://github.com/j0rsa/gitsafe"
arch:
  - amd64
  - aarch64
startup: application
boot: auto
init: true
ingress: true
ingress_port: 8080
panel_icon: mdi:git
panel_title: GitSafe
panel_admin: true
ports:
  "8080/tcp": null
ports_description:
  "8080/tcp": "GitSafe API and Web UI (Not configurable with Ingress)"
map:
  - config:rw
  - share:rw
options:
  host: "0.0.0.0"
  jwt_secret: "something-long-and-random"
  encryption_key: "something-long-and-random-and-different-from-jwt-secret"
  archive_dir: "/share/gitsafe/archives"
  compact: true
  cron_expression: "0 0 */4 * * *"
  sync_attempts: 5
  skip_auth: true
schema:
  host: str
  jwt_secret: str
  encryption_key: str
  archive_dir: str
  compact: bool
  cron_expression: str
  sync_attempts: int
  skip_auth: bool
environment:
  # All env values MUST be strings
  RUST_LOG: info
  GITSAFE__SERVER__STATIC_DIR: /app/static
  # GITSAFE__SERVER__HOST: 0.0.0.0
  GITSAFE__SERVER__PORT: "8080"
  CONFIG_PATH: /config/config.yaml
image: "ghcr.io/j0rsa/gitsafe-homeassistant-{arch}"
